# Thư mục node_modules (các package cài qua npm/yarn)
node_modules

# Thư mục build của Vite
dist

# File môi trường
.env
.env.local
.env.*.local

# Log file
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Hệ điều hành tạo ra
.DS_Store
Thumbs.db
